<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <add name="MyCRMServer" connectionString="
           AuthType=Office365;
           Username=testuser@mediabard.onmicrosoft.com;
           Passcode=Thisis1userfortesting;
           Url=https://mediabardsandbox.crm3.dynamics.com;"/>
    </connectionStrings>
</configuration>